* {
    font-family: 'Raleway', sans-serif;
}
body {
    background-image: url('../img/Education.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    text-align: center;
    margin: 50px;
}
.log-reg {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
.inline {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    height: 300px;
    width: 300px;
}
input {
    margin: 5px;
}