h1 {
    text-align: center;
    margin: 50px;
}
.log-reg {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
.inline {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    height: 200px;
    width: 300px;
}