* {
    font-family: 'Raleway', sans-serif;
}

body {
    background: url('../img/classroom.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 110%;
}

nav {
    background-color: #e9ecef;
    padding: 10px;
}

h2{
    display: inline-block;
}

.title {
   
    display: inline-block;
    text-align:  center;
    margin-left: 300px;
}

.page-urls {
    display: inline-block;
    width: 100%;
    /* margin-left: 70%; */
}

 a {
    display: inline-block;
    /* margin-left: 200px; */
} 

button {
    margin-bottom: 20px;
}

.link1 {
     margin-left: 200px;
}

.link2 {
    margin-left: 20px;
}

.table {
    /* width: 600px; */
    border: 1px solid #e9ecef;
}

.wrapper {
    background-color: #fff;
    margin: 20px auto;
    padding: 25px;
    width: 60%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 3px 106px -12px rgba(8,8,8,1);
    -moz-box-shadow: 0px 3px 106px -12px rgba(8,8,8,1);
    box-shadow: 0px 3px 106px -12px rgba(8,8,8,1);
}