<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="/static/eduPortal/css/dashboard2.css">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <h2>Welcome name</h2>
        <div class="page-urls">
            <a href="/eduPortal/registerPage">My Profile</a>
            <a href="/eduPortal/logout">Log Out</a>
        </div>
        
    </nav>
    
    
    <div class="wrapper">
        {% if request.session.role == 'teacher' %}
        <div class="find-student">
            <a href="/eduPortal/studySession"><button>HangOut with my Students</button></a>
            <h3>Find a Student</h3>
            <table class="table table-striped">
                <thead>
                    <tr><th>Student's Name</th></tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr><td><input type="radio" name="optradio"> {{ student.name}}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit">Connect with Student</button>
        </div>
        {% endif %}
        {% if request.session.role == 'student' %}
        <div class="find-teacher">
            <a href="/eduPortal/studySession"><button>HangOut with my Teachers</button></a>
            <h3>Find a Teacher</h3>
            <table class="table table-striped">
                <thead>
                    <tr><th>Teacher's Name</th></tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                        <tr><td><input type="radio" name="optradio"> {{ teacher.name}}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit">Connect with Teacher</button>
        </div>
        {% endif %}
    </div>
    
</body>
</html>