<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="static/eduPortal/css/login.css">
    <title>EduPortal</title>
</head>
<body>
    <h1>Welcome to EduPortal!</h1>

    <div class="log-reg">
        <fieldset class="inline">
            <legend>Login</legend>
            <form action="eduPortal/login" method="post">
                {% csrf_token %}
                Email: <input type="text" name="email" value=""><br>
                password: <input type="password" name="password" value=""><br>
                <input type="submit" value="Login">
            </form>
        </fieldset>

        <fieldset class="inline">
        <legend>Register With Us</legend>
            <form action="eduPortal/register" method="post">
                {% csrf_token %}
                Name: <input type="text" name="name" value=""><br>
                Email: <input type="text" name="email" value=""><br>
                Password: <input type="password" name="password" value=""><br>
                <p>*Password should be at least 5 characters</p>
                Confirm PW: <input type="password" name="confirm_password" value=""><br>
                <select name="role" id="">
                    <option value="none">Select One</option>
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select><br>
                <input type="submit" value="Register">
            </form>
        </fieldset>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>